@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    font-family: 'Inter', system-ui, sans-serif;
  }
}

@font-face {
  font-family: 'BT Suave';
  src: url('/fonts/BTSuave-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}
