@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    font-family: 'Inter', system-ui, sans-serif;
    font-weight: 300;
  }

}

@font-face {
  font-family: 'BT Suave';
  src: url('/fonts/BTSuave-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'BT Suave';
  src: url('/fonts/BTSuave-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'NeueHelveticaExt';
  src: url('/fonts/SVN-NeueHelveticaExt-Rg.otf') format('opentype');
  font-weight: 400; /* Regular */
  font-style: normal;
}

@font-face {
  font-family: 'NeueHelveticaExt';
  src: url('/fonts/SVN-NeueHelveticaExt-Md.otf') format('opentype');
  font-weight: 500; /* Medium */
  font-style: normal;
}

@font-face {
  font-family: 'NeueHelveticaExt';
  src: url('/fonts/SVN-NeueHelveticaExt-Bd.otf') format('opentype');
  font-weight: 700; /* Bold */
  font-style: normal;
}
